---
---
dt {
  color:#FFFFFF;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

@import "{{ site.theme }}";

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.showThumbByDefault #lg-gallery.open .lg-slide {
    padding-bottom: 120px;
}
.showThumbByDefault #lg-gallery .thumb-cont .thumb-info{
    display:none;
}
/*/ actions */
.showThumbByDefault #lg-action {
    position: static;
}
.showThumbByDefault #lg-action a {
    margin-top: -14px !important;
    position: absolute;
    top: 50%;
    z-index: 9999999;
    background-color: transparent;
    font-size: 28px;
}
.showThumbByDefault #lg-action a#lg-prev {
    left: 17px;
}
.showThumbByDefault #lg-action a#lg-next {
    right: 17px;
}
