---
---


@import "{{ site.theme }}";

a {
  color: #6df872;
  font-weight: 400;
  text-decoration: none;
  transition: color 150ms ease;
}
a:hover {
  color: #98fa9b
}

/*-----------------------------------*/
/*-- Vertically Alligning Pictures --*/
/*-----------------------------------*/
.vertAlign {
    margin-bottom: 20px;
}

/*------------------------*/
/*-- Centering Pictures --*/
/*------------------------*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*-----------------------------*/
/*-- LightGallery Properties --*/
/*-----------------------------*/
.showThumbByDefault #lg-gallery.open .lg-slide {
    padding-bottom: 120px;
}
.showThumbByDefault #lg-gallery .thumb-cont .thumb-info{
    display:none;
}
/*/ actions */
.showThumbByDefault #lg-action {
    position: static;
}
.showThumbByDefault #lg-action a {
    margin-top: -14px !important;
    position: absolute;
    top: 50%;
    z-index: 9999999;
    background-color: transparent;
    font-size: 28px;
}
.showThumbByDefault #lg-action a#lg-prev {
    left: 17px;
}
.showThumbByDefault #lg-action a#lg-next {
    right: 17px;
}

/*-----------------------*/
/*-- NavBar Properties --*/
/*-----------------------*/
.topnav
{
   background-color: #333;
}
.topnav a
{
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}
.topnav a:hover
{
   background-color: #ddd;
   color: black;
}
.topnav a.active
{
   background-color: #4CAF50;
   color: white;
}

